body{
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
}

/*start of header*/
.header{
	background-color: #ffffff;
	height: 90px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
	padding-top: 40px;
}

#headcontainer{
	width: 960px;
	height: 120px;
	margin: 0 auto;
}


#circles{
	float: left;
}

#title{
	float: left;
	margin-left: -18px;
	margin-top: 33px;
	color: #666666;
	font-family: 'Amaranth', sans-serif;
	line-height: 0;
	font-size: 38pt;
	font-weight: 400;
}

#nav{
	margin: 0 auto;
	float: right;
	padding-top: 35px;
	color: #38a6a6;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}

#nav li{
	list-style-type: none;
	width: 70px;
	height: 50px;
	display: block;
	float: left;
	text-align: right;
	margin-right: 70px;
}

#nav li a, #nav li a:visited{
	text-decoration: none;
	color: #38a6a6;
}

/*end of header*/

/*start of main content*/
.main{
	width: 960px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.slides{
	width: 693px;
	height: 450px;
	background-color: #ffffff;
	float:left;
	margin-bottom: 50px;
	box-shadow: 0 1px 2px rgba(0,0,0,.6);
	overflow: hidden;
	margin-right: 10px;
}

#slidecontent{
	width: 2079;
	height: 100%;
	position: relative;
    list-style: none;
	padding: 0;
	margin-top: 0;
	margin-left: 0px;
	float: left;
}

#slidecontent li{
	width: 693px;
	float: left;
}


.banner{
	  width: 693px;
	  height: 100%;
}

.slidenav{
	width: 693px;
	height: 450px;
	position: absolute;
	display: block;
	opacity: 1;
}

.slidenav:hover{
	opacity: 1;
}

.slideNavwrap{
	height: auto;
	width:  693px;
	margin-top: 185px;
}

.switcher{
	width: 48px;
	height: 70px;
	top: auto;
	opacity: 0.4;
}

.switcher:hover{
	opacity: 0.8;
}

#prev{
	float: left;
	margin-left: 16px;
	background: url('resources/arrows_white_new3.png') 100px 0px;
}

#next{
	float: right;
	margin-right: 15px;
	background: url('resources/arrows_white_new3.png') -50px 0px;
}

#function{
	position:absolute;
	right: 0px;
	bottom: 10px;
	height: 20px;
	width: 85px;
	padding: 0;
	opacity: 0.4;
}

#function:hover{
	opacity: 0.8;
}

#plause{
	background-image: url('resources/pause.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #cceeff;
	width: 20px;
	height: 20px;
	padding: 5px;
	margin-right: 2px;
	float: left;
}

#slidecount{
	width: 35px;
	height: 20px;
	background-color: #cceeff;
	float: right;
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

#slidecount p{
	font-weight: bold;
	margin: 0 auto;
}

.buttons{
	width: 260px;
	height:450px;
	background-color: #dddddd;
	float: right;
	margin-bottom: 50px;
}

.buttonstyle{
	height: 45px;
	width: 232px;
	margin-bottom: 10px;
	float: left;
	border: 3px solid #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 22;
	font-weight: 600;
	line-height: 0;
	color: #ffffff;
	padding: 5px;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.7), rgba(200,200,200,.1));
}	

.buttonstyle p{
	line-height: 0;
	margin-left: 10px;
	float:left;
}
.buttonstyle img{
	float: right;
	padding: 8px;
}

.buttonstyle, #paragraph{
	box-shadow: 0 1px 2px rgba(0,0,0,.6);
	border-radius: 2px;
}

#planning{
	background-color: #f2ad30;
}

#strategy{
	background-color: #64ab26;
}

#results{
	background-color: #38a6a6;
}

.buttonstyle:hover{
	background-color: #000000;
	background-image: -webkit-linear-gradient(top, rgba(125,125,125,1), rgba(0,0,0,1));
}


#paragraph{
	height: 212px;
	width: 222px;
	padding: 10px;
	background-color: #38a6a6;
	float: left;
	color: #ffffff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border: 3px solid #ffffff;
}

/*end of main content*/

/*start of footer*/
.footer{
	clear: both;
	padding:; 15px;
	height: 146px;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	margin: 0 auto;
}

#footcontainer{
	height: 140px;
	padding: 15px;
	width: 960px;
	margin: 0 auto;
}

.slice{
	width: 210px;
	height: auto;
	margin-top: 20px;
	margin-right: 28px;
	float:left;
	font-size: 14px;
}

.icon, .slice p{
	float: left;
	margin: 0 auto;
	line-height: 1.30;
}

.slice p{
	padding: 5px;
}

.icon{
	padding-top: 15px;
	padding-right: 5px;
}

.icon img{
	margin: 0 auto;

}

.slice p span{
	font-weight: 700;
}

.slice p img{
	padding-right: 5px;
	padding-top: 5px;
}

/*end of footer*/

/*start of slider button*/


/*end of slider button*/